h2{
 font-family: cursive, sans-serif;
 colour: white;
}

h1{
 font-family: cursive, sans-serif;
 colour: light blue;
}
 
p{
 font-family: Palatino, serif;
 colour: #ccffcc;
}

body  {
 background-color: #000066;
}
